@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* LANDING PAGE */

.landing__page {
    min-height: 100vh;
    min-width: 100%;
    background-color: #172B27;

}

.landing__page-imgs {
    margin: 0 auto;
    width: 50%;
    padding: 0px 70px;
    padding-top: 150px;
    scale: 1.4;
}

.landing__page-img1 {
    box-shadow: -15px 22px 17px 5px rgba(0, 0, 0, 0.25);
}

.landing__page-img2 {
    box-shadow: 15px 23px 17px 5px rgba(0, 0, 0, 0.25);
}
